/* rest */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-height: 100%;
    width: 10vw;
    padding: .2rem;
}
body{
    background-color: black;
}
/* main */
/* section-meeting */
.btn{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;
    position: relative;
    font-size: .8em;
}
.btn-speakerview{
    position: fixed;
    right: 25px;
    padding: .2rem;
    background-color: #3E3E3E;
    border-radius: 5px;
}
.btn-maximize{
    position: fixed;
    right: 0;
    margin-left: 3px;
    padding: .2rem;
    background-color: #3E3E3E;
    border-radius: 5px;
}
/* section-call */
.section-call{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}
/* col-video */
.col-video{
    display: flex;
    flex-direction: column;
}
.card{
    position: relative;
    
}
.col-video img{
    padding-bottom: .5rem;

}
.col-video span{
   position: absolute;
   bottom: 11%;
   left: 2%; 
   color: white;
   background-color: rgba(0, 0, 0, 0.4);
   padding: .2rem;
   font-size: .8em;
}
